<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style1.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  </head>
  <body>
   <div id="container">
    <div  id="container1" class="image">
       <h3>Lakeshore Levels <br> The new American Remodel</h3>
    </div>
    <div id="container2" class="image">
         <h3>Lvanhoe Blvd <br> Custom Home</h3>
    </div>
    <div id="container3" class="image">
        <h3>Lake Knowles Circle</h3>
    </div>
   </div>
  </body>
  <script>
     
  </script>
</html>