<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Renter</title>

    <!-- Bootstrap CSS CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.compat.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../stylesheets/style.css" />
    <link rel="stylesheet" href="../stylesheets/categorySection.css" />
    <link rel="stylesheet" href="../stylesheets/moreCategorySection.css" />
    <link rel="stylesheet" href="../stylesheets/navbar.css" />
    <link rel="stylesheet" href="../stylesheets/subHero.css" />
    <link rel="stylesheet" href="../stylesheets/textSection.css" />
    <link rel="stylesheet" href="../stylesheets/searchSection.css" />
  </head>
  <style>
    #preLoader {
      height: 100vh;
      width: 100vw;
      position: fixed;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      background-color: rgb(32, 32, 32);
      z-index: 999999999999999999999999999;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: "Saol Display Regular";
      color: #e6e6e6;
      transition: all 1s cubic-bezier(0.23, 1, 0.32, 1),
        opacity 3s cubic-bezier(0.23, 1, 0.32, 1);
    }
    #preLoader h1 {
      font-size: 6rem;
      letter-spacing: 1rem;
      margin: 0;
      padding: 0;
      opacity: 0;
    }
    #preLoader p span,
    #preLoader h1 span {
      opacity: 0;
      display: inline-block;
      transition: all 2s cubic-bezier(0.39, 0.575, 0.565, 1);
    }
    #preLoader p {
      opacity: 0;
      margin: 0;
      padding: 0;
      letter-spacing: 0.25rem;
    }
    @media only screen and (max-width: 600px) {
      #preLoader h1 span {
        font-size: 3rem !important;
      }
    }
  </style>
  <body>
    <!-- navBar -->
    <%- include('./components/index/navbar.ejs') %>
    <!-- navBar -->

    <!-- Hero section here -->
    <div class="heroSectionText text-center">
      <div>
        <h1 class="text-capitalize" style="letter-spacing: 1.35rem"
          >DISCOVER YOUR</h1
        >
        <h1 class="bigChar">SPACE</h1>
      </div>
    </div>
    <div
      class="dummyCover"
      style="height: 400vh; width: 100vw; margin-bottom: 20vh"
    >
      <div
        class="dummy position-sticky"
        style="height: 300vh; width: 100vw; top: 0%"
      >
        <canvas id="canvas"></canvas>
        <div class="videoCover">
          <video
            src="../videos/video-desktop2.mp4"
            autoplay="autoplay"
            muted
            loop
            class="realVideo"
          ></video>
        </div>
      </div>
    </div>
    <!-- Hero section here -->

    <div id="main">
      <!-- Text section -->
      <section class="textSection">
        <div class="text">
          <h1>Find it</h1>
          <h1 class="text-center">love it</h1>
          <h1 style="float: right">rent it</h1>
        </div>
      </section>
      <!-- Text section -->

      <!-- Sub hero section here -->
      <%- include('./components/index/subHero.ejs') %>
      <!-- Sub hero section here -->

      <!-- Search box section  -->
      <%- include('./components/index/searchSection.ejs') %>
      <!-- Search box section  -->

      <!-- Text section -->
      <section class="textSection">
        <div class="text">
          <h1>Find it</h1>
          <h1 class="text-center">love it</h1>
          <h1 style="float: right">rent it</h1>
        </div>
      </section>
      <!-- Text section -->

      <!-- Category Section -->
      <%- include('./components/index/moreCategorySection.ejs') %>
      <!-- Category Section -->

      <!-- Footer here -->
    </div>

    <section id="preLoader">
      <h1>RENTER</h1>
      <p>Your perfect rental destination</p>
    </section>

    <!-- Bootstrap js CDN -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"
      integrity="sha512-Mf/xUqfWvDIr+1B6zfnIDIiG7XHzyP/guXUWgV6PgaQoIFeXkJQR5XWh9fqAiCiRCpemabt3naV4jhDWVnuYDQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/ScrollTrigger.min.js"
      integrity="sha512-YzMW3OzvgtVpIIPPpjnCy8wVTq5slHRrxnLH1oD5dkVjZf8+8DJYd+GYmmWXZNmroTqKXFFzFS3XZ/LBvaNgZg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.6.1/jquery.lettering.min.js"
      integrity="sha512-VJ/iYbiu1eJ6yLimfTi65t2R9TFcG5D9X8ZCfbbEFhTfPnKJh8byoKXEawi5ScJZBYL1eiirL1+MczZDx0Tz9Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/textillate/0.4.0/jquery.textillate.min.js"
      integrity="sha512-0bHMhYsdpiur1bT84kDH4D7cpxFQ9O7uA5yxVAqWC87h552Xt0swX4M+ZlXMKE8oPVRIJ5lAwXWO2UWeDwJJOw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
     <script>
      function spanMaker(element) {
        var clutter = "";
        element.textContent.split("").forEach((elem) => {
          clutter += `<span>${elem}</span>`;
        });
        element.innerHTML = clutter;
      }
      var heading = document.querySelector("#preLoader h1");
      var tagLine = document.querySelector("#preLoader p");
      spanMaker(heading);
      spanMaker(tagLine);
      heading.style.opacity = "1";
      tagLine.style.opacity = "1";
      document.querySelectorAll("#preLoader p span").forEach((elem) => {
        elem.style.transform = `translateY(${Math.random() * 50 + 50}px)`;
      });
      document.querySelectorAll("#preLoader h1 span").forEach((elem) => {
        elem.style.transform = `translateY(${Math.random() * 200 + 100}px)`;
      });

      setTimeout(() => {
        document.querySelectorAll("#preLoader h1 span").forEach((elem) => {
          elem.style.transform = `translateY(0px)`;
          elem.style.opacity = "1";
        });
        setTimeout(() => {
          document.querySelectorAll("#preLoader p span").forEach((elem) => {
            elem.style.transform = `translateY(0px)`;
            elem.style.opacity = "1";
          });
        }, 500);
      }, 500);

      window.addEventListener("load", () => {
        setTimeout(() => {
          document.querySelectorAll("#preLoader p span").forEach((elem) => {
            elem.style.transform = `translateY(-${Math.random() * 50 + 50}px)`;
          });
          document.querySelectorAll("#preLoader h1 span").forEach((elem) => {
            elem.style.transform = `translateY(-${
              Math.random() * 200 + 100
            }px)`;
          });
          setTimeout(() => {
            var preloader = document.querySelector("#preLoader");
            preloader.style.opacity = "0";
            setTimeout(() => {
              preloader.style.display = "none";
              document.querySelectorAll(".heroSectionText h1").forEach((el) => {
                el.style.display = "flex";
              });
              $(".heroSectionText h1").textillate({
                autoStart: true,
                in: {
                  effect: "fadeInUp",
                  delay: 0,
                },
              });
            }, 900);
          }, 900);
        }, 2000);
      });
    </script> 
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="../javascripts/categorySection.js"></script>
    <script src="../javascripts/moreCategorySection.js"></script>
    <script src="../javascripts/index.js"></script>
    <script src="../javascripts/subHero.js"></script>
    <script src="../javascripts/searchSection.js"></script>
    <script src="../javascripts/navbar.js"></script>
    <script src="../javascripts/textSection.js"></script>
  </body>
</html>
