<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Bootstrap CSS CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.compat.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../stylesheets/property.css" />
  </head>
  <body>
    <div id="main">
      <div class="propertyCreation">
        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
        >
          Launch static backdrop modal
        </button>

        <div class="card">
          <div
            class="modal fade"
            id="staticBackdrop"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog md-cnt">
              <div class="modal-content cnt">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel"
                    >Upload Your Property</h1
                  >
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <h2 class="heading">Price Range</h2>
                  <div class="price">
                    <input
                      type="number"
                      name="min-price"
                      id=""
                      placeholder="min-price"
                    />
                    <input
                      type="number"
                      name="max-price"
                      placeholder="max-price"
                    />
                  </div>
                  <hr />
                  <h2 class="heading">Property Type</h2>
                  <div class="property-cnt">
                    <button
                      type="button "
                      class="house-btn"
                      value="house"
                      name="proprtyType"
                    >
                      <div class="house-div">
                        <img
                          src="https://a0.muscache.com/pictures/4d7580e1-4ab2-4d26-a3d6-97f9555ba8f9.jpg"
                          alt=""
                        />
                        <h5>House</h5>
                      </div>
                    </button>
                    <button class="house-btn" value="house" name="proprtyType">
                      <div class="house-div">
                        <img
                          src="https://a0.muscache.com/pictures/21cfc7c9-5457-494d-9779-7b0c21d81a25.jpg"
                          alt=""
                        />
                        <h5>Flat</h5>
                      </div>
                    </button>
                    <button
                      type="button"
                      class="house-btn"
                      value="house"
                      name="proprtyType"
                    >
                      <div class="house-div">
                        <img
                          src="https://a0.muscache.com/pictures/4d7580e1-4ab2-4d26-a3d6-97f9555ba8f9.jpg"
                          alt=""
                        />
                        <h5>PG</h5>
                      </div>
                    </button>
                    <button
                      type="button"
                      class="house-btn"
                      value="house"
                      name="proprtyType"
                    >
                      <div class="house-div">
                        <img
                          src="https://a0.muscache.com/pictures/6f261426-2e47-4c91-8b1a-7a847da2b21b.jpg"
                          alt=""
                        />
                        <h5>Guest-House</h5>
                      </div>
                    </button>
                  </div>
                  <hr />
                  <div class="rooms-bed">
                    <div class="mb-2">
                      <h5 class="form-label">BedRooms</h5>
                      <div class="btn-cnt">
                        <div class="radioWrapper">
                          <label for="brr8"
                            ><button class="any no">any</button></label
                          >
                          <input
                            style="display: none"
                            type="radio"
                            value="any"
                            id="brr8"
                            name="bedrooms"
                          />
                        </div>
                        <div class="radioWrapper">
                          <label for="brr1"
                            ><button class="any no">1</button></label
                          >
                          <input
                            style="display: none"
                            type="radio"
                            name="bedrooms"
                            value="1"
                            id="brr1"
                          />
                        </div>
                        <div class="radioWrapper">
                          <label for="brr2"
                            ><button class="any no">2</button></label
                          >
                          <input
                            style="display: none"
                            type="radio"
                            name="bedrooms"
                            value="2"
                            id="brr2"
                          />
                        </div>
                        <div class="radioWrapper">
                          <label for="brr3"
                            ><button class="any no">3</button></label
                          >
                          <input
                            style="display: none"
                            type="radio"
                            name="bedrooms"
                            id="brr3"
                            value="3"
                          />
                        </div>
                        <div class="radioWrapper">
                          <label for="brr4"
                            ><button class="any no">4</button></label
                          >
                          <input
                            style="display: none"
                            type="radio"
                            name="bedrooms"
                            value="4"
                            id="brr4"
                          />
                        </div>
                        <div class="radioWrapper">
                          <label for="brr5"
                            ><button class="any no">5</button></label
                          >
                          <input
                            style="display: none"
                            type="radio"
                            name="bedrooms"
                            value="5"
                            value="6"
                            id="brr5"
                          />
                        </div>
                        <div class="radioWrapper">
                          <label for="brr6"
                            ><button class="any no">6</button></label
                          >
                          <input
                            style="display: none"
                            type="radio"
                            name="bedrooms"
                            id="brr6"
                          />
                        </div>
                        <div class="radioWrapper">
                          <label for="brr7"
                            ><button class="any no">7</button></label
                          >
                          <input
                            style="display: none"
                            type="radio"
                            name="bedrooms"
                            id="brr7"
                            value="7"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="mb-2">
                      <h5 class="form-label">Beds</h5>
                      <div class="btn-cnt">
                        <div class="radioWrapper">
                          <label for="br1"
                            ><button class="any no">any</button></label
                          >
                          <input
                            style="display: none"
                            type="radio"
                            name="beds"
                            id="br1"
                            value="any"
                          />
                        </div>
                        <div class="radioWrapper">
                          <label for="br2"
                            ><button class="any no">1</button></label
                          >
                          <input
                            style="display: none"
                            type="radio"
                            name="beds"
                            id="br2"
                            value="1"
                          />
                        </div>
                        <div class="radioWrapper">
                          <label for="br3"
                            ><button class="any no">2</button></label
                          >
                          <input
                            style="display: none"
                            type="radio"
                            name="beds"
                            id="br3"
                            value="2"
                          />
                        </div>
                        <div class="radioWrapper">
                          <label for="br4"
                            ><button class="any no">3</button></label
                          >
                          <input
                            style="display: none"
                            type="radio"
                            name="beds"
                            id="br4"
                            value="3"
                          />
                        </div>

                        <div class="radioWrapper">
                          <label for="br5"
                            ><button class="any no">4</button></label
                          >
                          <input
                            style="display: none"
                            type="radio"
                            name="beds"
                            id="br5"
                            value="4"
                          />
                        </div>

                        <div class="radioWrapper">
                          <label for="br6"
                            ><button class="any no">5</button></label
                          >
                          <input
                            style="display: none"
                            type="radio"
                            name="beds"
                            id="br6"
                            value="5"
                          />
                        </div>
                        <div class="radioWrapper">
                          <label for="br7"
                            ><button class="any no">6</button></label
                          >
                          <input
                            style="display: none"
                            type="radio"
                            name="beds"
                            id="br7"
                            value="6"
                          />
                        </div>
                        <div class="radioWrapper">
                          <label for="br8"
                            ><button class="any no">7+</button></label
                          >
                          <input
                            style="display: none"
                            type="radio"
                            name="beds"
                            id="br8"
                            value="7"
                          />
                        </div>
                      </div>
                    </div>
                    <small>Floor</small>
                    <div class="btn-cnt">
                      <div class="radioWrapper">
                        <label for="bfr1"
                          ><button class="any no">any</button></label
                        >
                        <input
                          style="display: none"
                          type="radio"
                          name="floor"
                          id="bfr1"
                          value="any"
                        />
                      </div>
                      <div class="radioWrapper">
                        <label for="bfr2"
                          ><button class="any no">1</button></label
                        >
                        <input
                          style="display: none"
                          type="radio"
                          name="floor"
                          id="bfr2"
                          value="1"
                        />
                      </div>
                      <div class="radioWrapper">
                        <label for="bfr3"
                          ><button class="any no">2</button></label
                        >
                        <input
                          style="display: none"
                          type="radio"
                          name="floor"
                          id="bfr3"
                          value="2"
                        />
                      </div>
                      <div class="radioWrapper">
                        <label for="bfr4"
                          ><button class="any no">3</button></label
                        >
                        <input
                          style="display: none"
                          type="radio"
                          name="floor"
                          id="bfr4"
                          value="3"
                        />
                      </div>

                      <div class="radioWrapper">
                        <label for="bfr5"
                          ><button class="any no">4</button></label
                        >
                        <input
                          style="display: none"
                          type="radio"
                          name="floor"
                          id="bfr5"
                          value="4"
                        />
                      </div>

                      <div class="radioWrapper">
                        <label for="bfr6"
                          ><button class="any no">5</button></label
                        >
                        <input
                          style="display: none"
                          type="radio"
                          name="floor"
                          id="bfr6"
                          value="5"
                        />
                      </div>
                      <div class="radioWrapper">
                        <label for="bfr7"
                          ><button class="any no">6</button></label
                        >
                        <input
                          style="display: none"
                          type="radio"
                          name="floor"
                          id="bfr7"
                          value="6"
                        />
                      </div>
                      <div class="radioWrapper">
                        <label for="bfr8"
                          ><button class="any no">7+</button></label
                        >
                        <input
                          style="display: none"
                          type="radio"
                          name="floor"
                          id="bfr8"
                          value="7"
                        />
                      </div>
                    </div>
                  </div>
                  <hr />
                  <div class="ammenities">
                    <h2 class="heading">Ammenities</h2>
                    <div class="two-cb">
                      <div class="mb-2 checkBoxWrapper">
                        <input
                          style="display: none"
                          type="checkbox"
                          id="wifi"
                          name="ammenities"
                          value="Wifi"
                        />
                        <label for="wifi">
                          <span class="box">
                            <span class="check">
                              <i class="ri-check-line"></i>
                            </span>
                          </span>
                          Wifi</label
                        >
                      </div>
                      <div>
                        <input
                          type="checkbox"
                          id="kitchen"
                          name="ammenities"
                          value="kitchen"
                        />
                        <label for="kitchen"> Kitchen</label>
                      </div>
                      <div>
                        <input
                          type="checkbox"
                          id="wm"
                          name="ammenities"
                          value="Washing Machine"
                        />
                        <label for="wm"> Washing Machine</label>
                      </div>
                    </div>
                    <div class="two-cb two-cb-down">
                      <div>
                        <input
                          type="checkbox"
                          id="parking"
                          name="ammenities"
                          value="parking"
                        />
                        <label for="parking"> Parking</label>
                      </div>
                      <div>
                        <input
                          type="checkbox"
                          id="ac"
                          name="ammenities"
                          value="Air Conditioner"
                        />
                        <label for="ac"> Air Conditioner</label>
                      </div>
                      <div>
                        <input
                          type="checkbox"
                          id="dw"
                          name="ammenities"
                          value="Dedicated Workspace"
                        />
                        <label for="dw"> Dedicated Workspace</label>
                      </div>
                    </div>
                  </div>
                  <hr />
                  <div class="prpty-desc">
                    <h2 class="heading">Property Description</h2>
                    <textarea
                      name="propertyDescription"
                      id=""
                      cols="70"
                      rows="2"
                      placeholder="Enter Fascinating facts about your property"
                    ></textarea>
                  </div>
                  <hr />
                  <div class="prpty-access">
                    <label class="form-label" for='accessibility'
                      >Property Accessible for Specially-abled</label
                    >
                    <select name="accessibility" id="accessibility">
                      <option value="False">False</option>
                      <option value="True">True</option>
                    </select>
                  </div>
                  <hr />
                  <div class="furnished">
                    <h2 class="heading">Furnished Type</h2>
                    <select name="furnished" id="furnished">
                      <option value="Fully Furnished">Fully Furnished</option>
                      <option value="Semi Furnished">Semi Furnished</option>
                      <option value="Non Furnished">Non Furnished</option>
                    </select>
                  </div>
                  <hr />
                  <div class="address">
                    <h2 class="heading">Property Address</h2>
                    <textarea
                      rows="1"
                      cols="70"
                      name="propertyAddress"
                      id=""
                      placeholder="Enter Address"
                    ></textarea>
                  </div>
                </div>
                <div class="modal-footer mf">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                    >Close</button
                  >
                  <button type="button" class="btn btn-primary"
                    >Upload Property</button
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"
      integrity="sha512-Mf/xUqfWvDIr+1B6zfnIDIiG7XHzyP/guXUWgV6PgaQoIFeXkJQR5XWh9fqAiCiRCpemabt3naV4jhDWVnuYDQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/ScrollTrigger.min.js"
      integrity="sha512-YzMW3OzvgtVpIIPPpjnCy8wVTq5slHRrxnLH1oD5dkVjZf8+8DJYd+GYmmWXZNmroTqKXFFzFS3XZ/LBvaNgZg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.6.1/jquery.lettering.min.js"
      integrity="sha512-VJ/iYbiu1eJ6yLimfTi65t2R9TFcG5D9X8ZCfbbEFhTfPnKJh8byoKXEawi5ScJZBYL1eiirL1+MczZDx0Tz9Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/textillate/0.4.0/jquery.textillate.min.js"
      integrity="sha512-0bHMhYsdpiur1bT84kDH4D7cpxFQ9O7uA5yxVAqWC87h552Xt0swX4M+ZlXMKE8oPVRIJ5lAwXWO2UWeDwJJOw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </body>
</html>
