<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Bootstrap CSS CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.compat.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../stylesheets/property.css" />
  </head>
  <body>
    <div id="main">
      <div class="propertyCreation">
        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
        >
          Launch static backdrop modal
        </button>

        <div class="card">
          <div
            class="modal fade"
            id="staticBackdrop"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel"
                    >Upload Your Property</h1
                  >
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <form action="/upload/property" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                  <div class="address">
                    <h2 class="heading">Property price In INR</h2>
                    <input
                      class="col-12 form-control"
                      name="price"
                      id=""
                      placeholder="Enter property price"
                    />
                  </div>
                  <hr />
                  <h2 class="heading">Property Type</h2>
                  <div class="property-cnt">
                    <div class="radioWrapper">
                      <label for="t1"
                        ><button class="house-btn">
                          <div class="house-div">
                            <img
                              src="https://a0.muscache.com/pictures/4d7580e1-4ab2-4d26-a3d6-97f9555ba8f9.jpg"
                              alt=""
                            />
                            <h5>House</h5>
                          </div>
                        </button></label
                      >
                      <input
                        style="display: none"
                        type="radio"
                        value="house"
                        id="t1"
                        name="proprtyType"
                      />
                    </div>
                    <div class="radioWrapper">
                      <label for="t2"
                        ><button class="house-btn">
                          <div class="house-div">
                            <img
                              src="https://a0.muscache.com/pictures/21cfc7c9-5457-494d-9779-7b0c21d81a25.jpg"
                              alt=""
                            />
                            <h5>Flat</h5>
                          </div>
                        </button></label
                      >
                      <input
                        style="display: none"
                        type="radio"
                        value="flat"
                        id="t2"
                        name="proprtyType"
                      />
                    </div>
                    <div class="radioWrapper">
                      <label for="t3"
                        ><button class="house-btn">
                          <div class="house-div">
                            <img
                              src="https://a0.muscache.com/pictures/4d7580e1-4ab2-4d26-a3d6-97f9555ba8f9.jpg"
                              alt=""
                            />
                            <h5>PG</h5>
                          </div>
                        </button></label
                      >
                      <input
                        style="display: none"
                        type="radio"
                        value="pg"
                        id="t3"
                        name="proprtyType"
                      />
                    </div>
                    <div class="radioWrapper">
                      <label for="t4"
                        ><button class="house-btn">
                          <div class="house-div">
                            <img
                              src="https://a0.muscache.com/pictures/6f261426-2e47-4c91-8b1a-7a847da2b21b.jpg"
                              alt=""
                            />
                            <h5>Guest-house</h5>
                          </div>
                        </button></label
                      >
                      <input
                        style="display: none"
                        type="radio"
                        value="Guest-House"
                        id="t4"
                        name="proprtyType"
                      />
                    </div>
                  </div>
                  <hr />
                  <div class="rooms-bed">
                    <div class="mb-2">
                      <h5 class="form-label">BedRooms</h5>
                      <div class="btn-cnt">
                        <div class="radioWrapper">
                          <label for="brr8"
                            ><button class="any no">any</button></label
                          >
                          <input
                            style="display: none"
                            type="radio"
                            value="any"
                            id="brr8"
                            name="bedrooms"
                          />
                        </div>
                        <div class="radioWrapper">
                          <label for="brr1"
                            ><button class="any no">1</button></label
                          >
                          <input
                            style="display: none"
                            type="radio"
                            name="bedrooms"
                            value="1"
                            id="brr1"
                          />
                        </div>
                        <div class="radioWrapper">
                          <label for="brr2"
                            ><button class="any no">2</button></label
                          >
                          <input
                            style="display: none"
                            type="radio"
                            name="bedrooms"
                            value="2"
                            id="brr2"
                          />
                        </div>
                        <div class="radioWrapper">
                          <label for="brr3"
                            ><button class="any no">3</button></label
                          >
                          <input
                            style="display: none"
                            type="radio"
                            name="bedrooms"
                            id="brr3"
                            value="3"
                          />
                        </div>
                        <div class="radioWrapper">
                          <label for="brr4"
                            ><button class="any no">4</button></label
                          >
                          <input
                            style="display: none"
                            type="radio"
                            name="bedrooms"
                            value="4"
                            id="brr4"
                          />
                        </div>
                        <div class="radioWrapper">
                          <label for="brr5"
                            ><button class="any no">5</button></label
                          >
                          <input
                            style="display: none"
                            type="radio"
                            name="bedrooms"
                            value="5"
                            value="6"
                            id="brr5"
                          />
                        </div>
                        <div class="radioWrapper">
                          <label for="brr6"
                            ><button class="any no">6</button></label
                          >
                          <input
                            style="display: none"
                            type="radio"
                            name="bedrooms"
                            id="brr6"
                          />
                        </div>
                        <div class="radioWrapper">
                          <label for="brr7"
                            ><button class="any no">7+</button></label
                          >
                          <input
                            style="display: none"
                            type="radio"
                            name="bedrooms"
                            id="brr7"
                            value="7"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="mb-2">
                      <h5 class="form-label">Beds</h5>
                      <div class="btn-cnt">
                        <div class="radioWrapper">
                          <label for="br1"
                            ><button class="any no">any</button></label
                          >
                          <input
                            style="display: none"
                            type="radio"
                            name="beds"
                            id="br1"
                            value="any"
                          />
                        </div>
                        <div class="radioWrapper">
                          <label for="br2"
                            ><button class="any no">1</button></label
                          >
                          <input
                            style="display: none"
                            type="radio"
                            name="beds"
                            id="br2"
                            value="1"
                          />
                        </div>
                        <div class="radioWrapper">
                          <label for="br3"
                            ><button class="any no">2</button></label
                          >
                          <input
                            style="display: none"
                            type="radio"
                            name="beds"
                            id="br3"
                            value="2"
                          />
                        </div>
                        <div class="radioWrapper">
                          <label for="br4"
                            ><button class="any no">3</button></label
                          >
                          <input
                            style="display: none"
                            type="radio"
                            name="beds"
                            id="br4"
                            value="3"
                          />
                        </div>

                        <div class="radioWrapper">
                          <label for="br5"
                            ><button class="any no">4</button></label
                          >
                          <input
                            style="display: none"
                            type="radio"
                            name="beds"
                            id="br5"
                            value="4"
                          />
                        </div>

                        <div class="radioWrapper">
                          <label for="br6"
                            ><button class="any no">5</button></label
                          >
                          <input
                            style="display: none"
                            type="radio"
                            name="beds"
                            id="br6"
                            value="5"
                          />
                        </div>
                        <div class="radioWrapper">
                          <label for="br7"
                            ><button class="any no">6</button></label
                          >
                          <input
                            style="display: none"
                            type="radio"
                            name="beds"
                            id="br7"
                            value="6"
                          />
                        </div>
                        <div class="radioWrapper">
                          <label for="br8"
                            ><button class="any no">7+</button></label
                          >
                          <input
                            style="display: none"
                            type="radio"
                            name="beds"
                            id="br8"
                            value="7"
                          />
                        </div>
                      </div>
                    </div>
                    <small>Floor</small>
                    <div class="btn-cnt">
                      <div class="radioWrapper">
                        <label for="bfr1"
                          ><button class="any no">any</button></label
                        >
                        <input
                          style="display: none"
                          type="radio"
                          name="floor"
                          id="bfr1"
                          value="any"
                        />
                      </div>
                      <div class="radioWrapper">
                        <label for="bfr2"
                          ><button class="any no">1</button></label
                        >
                        <input
                          style="display: none"
                          type="radio"
                          name="floor"
                          id="bfr2"
                          value="1"
                        />
                      </div>
                      <div class="radioWrapper">
                        <label for="bfr3"
                          ><button class="any no">2</button></label
                        >
                        <input
                          style="display: none"
                          type="radio"
                          name="floor"
                          id="bfr3"
                          value="2"
                        />
                      </div>
                      <div class="radioWrapper">
                        <label for="bfr4"
                          ><button class="any no">3</button></label
                        >
                        <input
                          style="display: none"
                          type="radio"
                          name="floor"
                          id="bfr4"
                          value="3"
                        />
                      </div>

                      <div class="radioWrapper">
                        <label for="bfr5"
                          ><button class="any no">4</button></label
                        >
                        <input
                          style="display: none"
                          type="radio"
                          name="floor"
                          id="bfr5"
                          value="4"
                        />
                      </div>

                      <div class="radioWrapper">
                        <label for="bfr6"
                          ><button class="any no">5</button></label
                        >
                        <input
                          style="display: none"
                          type="radio"
                          name="floor"
                          id="bfr6"
                          value="5"
                        />
                      </div>
                      <div class="radioWrapper">
                        <label for="bfr7"
                          ><button class="any no">6</button></label
                        >
                        <input
                          style="display: none"
                          type="radio"
                          name="floor"
                          id="bfr7"
                          value="6"
                        />
                      </div>
                      <div class="radioWrapper">
                        <label for="bfr8"
                          ><button class="any no">7+</button></label
                        >
                        <input
                          style="display: none"
                          type="radio"
                          name="floor"
                          id="bfr8"
                          value="7"
                        />
                      </div>
                    </div>
                  </div>
                  <hr />
                  <h2 class="heading">Ammenities</h2>
                  <div class="ammenities">
                    <div class="mb-2 checkBoxWrapper">
                      <input
                        style="display: none"
                        type="checkbox"
                        id="wifi"
                        name="ammenities"
                        value="Wifi"
                      />
                      <label for="wifi">
                        <span class="box">
                          <span class="check">
                            <i class="ri-check-line"></i>
                          </span>
                        </span>
                        Wifi</label
                      >
                    </div>
                    <div class="mb-2 checkBoxWrapper">
                      <input
                        style="display: none"
                        type="checkbox"
                        id="kitchen"
                        name="ammenities"
                        value="kitchen"
                      />
                      <label for="kitchen">
                        <span class="box">
                          <span class="check">
                            <i class="ri-check-line"></i>
                          </span>
                        </span>
                        Kitchen</label
                      >
                    </div>
                    <div class="mb-2 checkBoxWrapper">
                      <input
                        style="display: none"
                        type="checkbox"
                        id="wm"
                        name="ammenities"
                        value="Washing Machine"
                      />
                      <label for="wm">
                        <span class="box">
                          <span class="check">
                            <i class="ri-check-line"></i>
                          </span>
                        </span>
                        Washing Machine</label
                      >
                    </div>
                    <div class="mb-2 checkBoxWrapper">
                      <input
                        style="display: none"
                        type="checkbox"
                        id="parking"
                        name="ammenities"
                        value="parking"
                      />
                      <label for="parking">
                        <span class="box">
                          <span class="check">
                            <i class="ri-check-line"></i>
                          </span>
                        </span>
                        Parking</label
                      >
                    </div>
                    <div class="mb-2 checkBoxWrapper">
                      <input
                        style="display: none"
                        type="checkbox"
                        id="ac"
                        name="ammenities"
                        value="Air Conditioner"
                      />
                      <label for="ac">
                        <span class="box">
                          <span class="check">
                            <i class="ri-check-line"></i>
                          </span>
                        </span>
                        Air Conditioner</label
                      >
                    </div>
                    <div class="mb-2 checkBoxWrapper">
                      <input
                        style="display: none"
                        type="checkbox"
                        id="dw"
                        name="ammenities"
                        value="Dedicated Workspace"
                      />
                      <label for="dw">
                        <span class="box">
                          <span class="check">
                            <i class="ri-check-line"></i>
                          </span>
                        </span>
                        Dedicated Workspace</label
                      >
                    </div>
                  </div>
                  <hr />
                  <div class="prpty-desc">
                    <h2 class="heading">Property Description</h2>
                    <textarea
                      class="col-12"
                      name="propertyDescription"
                      id=""
                      rows="7"
                      placeholder="Enter Fascinating facts about your property"
                    ></textarea>
                  </div>
                  <hr />
                  <div class="prpty-access">
                    <div class="mb-2 checkBoxWrapper">
                      <label class="form-label" for="accessibility"
                        >Property Accessible for Specially-abled
                        <span class="box">
                          <span class="check">
                            <i class="ri-check-line"></i>
                          </span> </span
                      ></label>
                      <input
                        style="display: none"
                        type="checkbox"
                        id="accessibility"
                        name="accessibility"
                        value = "true"
                      />
                    </div>
                  </div>
                  <hr />
                  <div class="furnished">
                    <label class="form-label">Furnished Type</label>
                    <div class="radioWrapper">
                      <label for="fur1"
                        ><button class="any no">Fully Furnished</button></label
                      >
                      <input
                        style="display: none"
                        type="radio"
                        value="Fully Furnished"
                        id="fur1"
                        name="furnished"
                      />
                    </div>
                    <div class="radioWrapper">
                      <label for="fur2"
                        ><button class="any no">Semi Furnished</button></label
                      >
                      <input
                        style="display: none"
                        type="radio"
                        value="Semi Furnished"
                        id="fur2"
                        name="furnished"
                      />
                    </div>
                    <div class="radioWrapper">
                      <label for="fur3"
                        ><button class="any no">Non Furnished</button></label
                      >
                      <input
                        style="display: none"
                        type="radio"
                        value="Non Furnished"
                        id="fur3"
                        name="furnished"
                      />
                    </div>
                  </div>
                  <hr />
                  <div class="address">
                    <h2 class="heading">Property Address</h2>
                    <input
                      class="col-12 form-control"
                      name="propertyAddress"
                      id=""
                      placeholder="Enter Address"
                    />
                  </div>
                  <hr />


                  <div class="address">
                    <h2 class="heading">House Rules</h2>
                    <input
                      class="col-12 form-control"
                      name="houseRules"
                      id=""
                      placeholder="Eg: No entry after 11 p:m"
                    />
                  </div>
                  <hr>

                  <div class="image">
                    <div class="mb-3">
                      <label for="images" class="form-label"
                        >Choose some property Images</label
                      >
                      <input
                        type="file"
                        multiple
                        class="form-control"
                        id="images"
                        name="images"
                      />
                    </div>
                  </div>
                </div>
                <div class="modal-footer mf justify-content-end">
                  <button type="submit" class="btn btn-outline-dark"
                    >Upload Property</button
                  >
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"
      integrity="sha512-Mf/xUqfWvDIr+1B6zfnIDIiG7XHzyP/guXUWgV6PgaQoIFeXkJQR5XWh9fqAiCiRCpemabt3naV4jhDWVnuYDQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/ScrollTrigger.min.js"
      integrity="sha512-YzMW3OzvgtVpIIPPpjnCy8wVTq5slHRrxnLH1oD5dkVjZf8+8DJYd+GYmmWXZNmroTqKXFFzFS3XZ/LBvaNgZg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.6.1/jquery.lettering.min.js"
      integrity="sha512-VJ/iYbiu1eJ6yLimfTi65t2R9TFcG5D9X8ZCfbbEFhTfPnKJh8byoKXEawi5ScJZBYL1eiirL1+MczZDx0Tz9Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/textillate/0.4.0/jquery.textillate.min.js"
      integrity="sha512-0bHMhYsdpiur1bT84kDH4D7cpxFQ9O7uA5yxVAqWC87h552Xt0swX4M+ZlXMKE8oPVRIJ5lAwXWO2UWeDwJJOw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="../javascripts/propertyCreate.js"></script>
  </body>
</html>