@font-face {
  font-family: font1;
  src: url("../fonts/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.ttf");
}
@font-face {
  font-family: font2;
  src: url("../fonts/Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.ttf");
}
@font-face {
  font-family: font3;
  src: url("../fonts/Airbnb_Cereal-Medium-50fc004b3082375f12ff0cfb67bf8e56.ttf");
}

.fullpage {
  width: 100vw;
  height: 100vh;
  padding: 8px 9px;
}
.container1 {
  padding: 5px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
  overflow: hidden;
  border-radius: 2px solid black;
  background-color: white;
}

.fullcard {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}
.imagecard {
  height: 40vh;
  border-radius: 10px;
  overflow: hidden;
}

.swiper-slide {
  height: 100%;
  min-height: 40vh;
}
.swiper-slide img {
  display: block;
  /* width: 100%;
     height: 100%; */
  min-width: 300px;
  height: 100%;
  min-height: 40vh;
  object-fit: cover;
  transition: transform 0.5s ease;
}
.imagecard img:hover {
  transform: scale(1.04);
  opacity: 0.9;
}
/* #card i{
      font-size: 3vh;
      margin-left: 90%;
  } */
#content {
  width: 100%;
  height: 30%;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
.left {
  width: 50%;
  height: 100%;
}
.left h5 {
  font-size: 2vh;
  margin-left: 5px;
}
.left span {
  color: #796868;
  font-weight: 100;
}
.left h6 {
  font-size: 2vh;
  margin-left: 5px;
  color: #949292;
  font-weight: 100;
}
.right {
  display: flex;
  gap: 10px;
  font-size: 2.7vh;
}
.right i {
  font-size: 2.4vh;
}
.right h6 span {
  font-size: 2.6vh;
  color: rgb(47, 38, 38);
  font-weight: 100;
}

/* color of button of swiper js */
.swiper-button-next::after {
  color: rgb(211, 209, 209);
  font-size: 25px;
}

.swiper-button-prev::after {
  color: rgb(197, 194, 194);
  font-size: 25px;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper {
  margin-left: auto;
  margin-right: auto;
}

