@font-face {
  font-family: font1;
  src: url("../fonts/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.ttf");
}
@font-face {
  font-family: font2;
  src: url("../fonts/Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.ttf");
}
@font-face {
  font-family: font3;
  src: url("../fonts/Airbnb_Cereal-Medium-50fc004b3082375f12ff0cfb67bf8e56.ttf");
}

.moreCategorySection {
  width: 100vw;
  font-family: font1;
  overflow: hidden;
}
.moreCategorySection .category {
  height: 70px;
  width: 100vw;
  font-family: font3;
}
.moreCategorySection .category img {
  height: 25px;
  width: 25px;
  object-fit: cover;
}
.moreCategorySection .category .left {
  display: flex;
  gap: 2rem;
  height: 100%;
  width: 83vw;
  align-items: center;
}
.moreCategorySection .category .right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 17vw;
}

.moreCategorySection .properties {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 2rem;
}
.moreCategorySection .property {
  /* height: 30vw;
  width: 25vw; */
  min-height: 310px;
  position: relative;
}
.moreCategorySection .property .fav {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 99;
  
}
.moreCategorySection .property .propertyImages {
  height: 21vw;
  width: 100%;
  min-height: 270px;
  overflow: hidden;
  border-radius: 15px;
}
.moreCategorySection .property .propertyImages img {
  height: 21vw;
  width: 25vw;
  object-fit: cover;
  min-height: 310px;
}

.moreCategorySection .property .content small {
  font-family: font2;
}
.moreCategorySection .property .content small span {
  font-family: font3;
}
