textarea{
  resize: none;
}

.md-cnt {
  margin-left: 400px;
}
.cnt {
  width: 700px;
}
.mf {
  display: flex;
  justify-content: space-between;
}
.propertyCreation {
  user-select: none;
}
.heading {
  font-size: 17px;
}
.price {
  display: flex;
  gap: 50px;
  align-items: center;
}

.price input {
  border: 1px solid black;
  border-radius: 10px;
  font-size: 15px;
  padding: 10px;
}

.house-btn {
  width: 20%;
  height: 80px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid black;
}

.property-cnt {
  display: flex;
  align-items: center;
  gap: 20px;
}

.property-cnt button:active{
  background-color:#F0A04B;
  border: 1px solid #F0A04B;
}

.property-cnt button:focus{
  background-color:#F0A04B;
  border: 1px solid #F0A04B;
}

.property-cnt button div img {
  width: 20px;
}

.btn-cnt {
  display: flex;
  align-items: center;
  gap: 10px;
}

.any {
  border: 1px solid black;
  border-radius: 30px;
  width: 60px;
  height: 30px;
  background-color: black;
  color: #fff;
  pointer-events: none;
}

.no {
  pointer-events: none;
  background-color: #fff;
  color: black;
}

.radioWrapper:has(input[type="radio"]:checked) label button {
  background-color: black !important;
  color: #fff !important;
}
.checkBoxWrapper:has(input:checked) label span {
  background-color: black !important;
}
.checkBoxWrapper label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.checkBoxWrapper label span {
  color: #fff !important;
  width: 1.3rem;
  height: 1.3rem;
  border: 1px solid rgba(0, 0, 0, 0.158);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.two-cb {
  display: flex;
  gap: 150px;
  align-items: center;
}

.two-cb-down {
  gap: 110px;
}

.prpty-desc textarea {
  padding: 10px;
  border-radius: 10px;
}

.prpty-access,
.furnished {
  display: flex;
  align-items: center;
  gap: 20px;
}

.prpty-access select,
.furnished select {
  width: 80px;
  background-color: DodgerBlue;
  border-radius: 0%;
  color: #fff;
  padding: 5px;
}

.furnished select {
  width: 150px;
}

.address textarea {
  padding: 10px;
  font-size: 13px;
  border: 1px solid black;
  border-radius: 10px;
}
