@font-face {
  font-family: font1;
  src: url("/fonts/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.ttf");
}
@font-face {
  font-family: font2;
  src: url("/fonts/Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.ttf");
}
@font-face {
  font-family: font3;
  src: url("/fonts/Airbnb_Cereal-Medium-50fc004b3082375f12ff0cfb67bf8e56.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(239, 255, 250) !important;
}
.main {
  width: 100%;
  height: 400vh;
  background-color: rgb(239, 255, 250);
  padding: 0 10vw;
}
.header_section {
  width: 100%;
  /* background-color: red; */
  font-family: font2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sub_header_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.sub_header_section h3 {
  font-size: 0.9rem;
  font-weight: 200;
  display: flex;
  align-items: center;
  gap: 5px;
}
.part1 {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
.part1 h3:nth-child(4) {
  font-family: font3;
}
.part1 h3 > a {
  color: black;
  /* background-color: red; */
}
.part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.mid_img_section {
  width: 100%;
  height: 40vh;
  min-height: 500px;
  border-radius: 15px;
  overflow: hidden;
  /* background-color: cadetblue; */
}
.mid_img_section img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  scale: 1.2;
  animation: imageAnimation 50s linear infinite both;
}
@keyframes imageAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(7%);
  }
  100% {
    transform: translateX(0%);
  }
}
.content {
  width: 100%;
  height: 150vh;
  display: flex;
}
.left_section {
  width: 100%;
  height: fit-content;
}
.metaRent {
  margin-bottom: 3vh;
}

.left_section h1 {
  font-family: font1;
}
.left_section h3 {
  font-family: font2;
  font-size: 1rem;
}
.left_section h4 > a {
  color: black;
  font-family: font2;
  font-size: 1rem;
}
.left_sub_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left_sub_content h1 {
  font-size: 1.5rem;
}
.left_sub_content h4 {
  font-family: font2;
  font-size: 0.9rem;
}
/* .btnns{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    } */
.btnn {
  width: 100%;
  border-radius: 1rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin: 15px 0;
  z-index: 9;
}
i {
  font-size: 1.2rem;
}
#btnn1 {
  height: 7vh;
  position: sticky;
  top: 0%;
  background-color: rgb(255, 217, 171);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999999999999999999;
}
#btnn2 {
  height: 7vh;
  background-color: rgb(255, 201, 135);
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnn h3 {
  margin-top: 4px;
}
.btnn h3 span {
  white-space: nowrap;
  overflow: hidden;
  padding: 0 10px;
}

/* .................................... */
.line {
  margin: 10px 0;
  width: 100%;
  height: 2px;
  background-color: rgb(164, 145, 145);
}

.content_part2 {
  width: 100%;
  /* height: fit-content; */
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 35px;
}
.content_part2_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.icons img {
  width: 30px;
}
.content_part2_12 {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.content_part2_12 h2 {
  font-family: font1;
  font-size: 1rem;
}
.content_part2_12 h3 {
  font-weight: 100;
  color: rgb(137, 144, 149);
}

/* ...............content part 3------------ */

.content_part3 {
  width: 100%;
  /* background-color: red; */
}
.heading1 {
  display: flex;
  align-items: start;
  justify-content: space-between;
  /* background-color: green; */
  /* margin-top: 20px; */
}
.heading_left {
  font-family: font1;
}
.heading_right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  /* font-size: 4rem; */
}
.heading_right h3 {
  font-size: 1.2rem;
  font-weight: 100;
  color: black;
}

.image_slider {
  width: 100%;
  height: 70vh;
}
.swiper {
  width: 100%;
  height: 100%;
  /* z-index: -1; */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  /* ................ */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
/* .................................... */
.content_part4 {
  width: 100%;
  height: fit-content;
}

.content_part4 h2 {
  font-size: 1.6rem;
}
.subcontent4 {
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 20px;
}
.content_part41 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.offered_place {
  display: flex;
  align-items: center;
  gap: 20px;
}
.offered_place img {
  width: 10%;
}
.about-logooo h3 {
  font-size: 1rem;
}
@media screen and (max-width: 1024px) {
  .main {
    width: 100%;
    padding: 15px;
  }
  .header_section {
    display: flex;
    flex-direction: column;
  }
  .part2 h3:nth-child(1) {
    display: none;
  }
  .btnn {
    width: 100%;
    border-radius: 30px;
  }
  #btnn1 {
    z-index: 999;
  }
  /* .content_part2 {
    height: 40vh;
  } */

  .heading_right {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .header_section {
    display: flex;
    flex-direction: column;
  }
  .part1 h3:nth-child(1) {
    display: none;
    /* display: flex; */
  }
  .part2 h3:nth-child(1) {
    display: none;
  }
  .part1 a {
    width: 70px;
  }
  .part1 h3:nth-child(3) {
    display: none;
  }
  .mid_img_section {
    width: 100%;
    height: 35vh;
  }

  .left_sub_content h1 {
    font-size: 1rem;
  }
  .btnn h3 {
    height: 4vh;
    width: 50vw;
    font-size: 1rem;
    transform-origin: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .left_section {
    width: 100%;
  }
  /* .content_part2 {
    height: 50vh;
  } */
  .content_part3 img {
    width: 100%;
  }
  .heading_right {
    display: none;
  }

  .image_slider {
    width: 100%;
  }
  /* .content_part4 {
    width: 100%;
    height: 60vh;
  } */
  .content_part41 {
    width: 50%;
  }
  .offered_place {
    gap: 10px;
  }
  .content_part41 img {
    width: 10%;
  }
  .content_part41 h3 {
    width: 75%;
  }
}
#map {
  height: 80vh;
  width: 100%;
  border-radius: 15px;
}

.bulding {
  background-image: url("https://nodes3cdn.hotpads.com/hotpads-web/1676574453/building-red-1Jyajvk.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 30px !important;
  width: 30px !important;
  cursor: pointer;
}

.house {
  background-image: url("https://nodes3cdn.hotpads.com/hotpads-web/1676574453/house-red-2orCUWx.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 20px !important;
  width: 20px !important;
  cursor: pointer;
}
.footer-basic {
  background-color: transparent !important;
}
