#searchSection {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: rgb(188, 188, 188);
  position: relative;
  overflow: hidden;
}
#searchSection #searchForm {
  width: 70vw;
  max-width: 900px;
}
#searchSection .bottomImage {
  height: 400px;
  width: 100vw;
  object-fit: cover;
  object-position: bottom;
  position: absolute;
  bottom: 0%;
  pointer-events: none;
}
#searchSection input,
button {
  width: 30vw;
  padding: 2vh 1vw;
  background-color: rgba(255, 255, 255, 0.082);
  outline: none !important;
  box-shadow: none !important;
  caret-color: white;
  border: 1px solid #ffffff96;
  border-right: none;
  z-index: 99;
  backdrop-filter: blur(3px);
  color: rgba(255, 255, 255, 0.822);
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}
#searchSection button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  border: 1px solid #ffffff96;
  width: fit-content;
}
#searchSection img {
  z-index: 0;
  pointer-events: none;
  user-select: none;
  position: fixed;
  height: 40vh;
  width: 15vw;
  min-width: 200px;
  transition: all linear 0.5s;
}
#cursor {
  height: 10vh;
  width: 10vh;
  background-color: red;
  position: fixed;
}
