@font-face {
  font-family: "Saol Display Regular";
  src: url("./searchBox.ttf");
}
#searchSection {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: rgb(32, 32, 32);
  position: fixed;
  top: 0%;
  padding-bottom: 10vh;
  font-family: "Saol Display Regular";
  z-index: 99999999999;
  clip-path: circle(2% at 93% 10%);
  /* transition: all 2s cubic-bezier(0.23, 1, 0.320, 1); */
  margin: 0 !important;
}
#searchSection .text {
  display: flex;
  flex-direction: column;
  z-index: 99999;
  width: 47rem;
}
#searchSection .text h1 {
  color: #ffffffff;
  line-height: 6rem;
  font-size: 8rem;
  height: 6.5rem;
  overflow: hidden;
}
#searchSection .text h1 span {
  transition: all 10s cubic-bezier(0.23, 1, 0.32, 1);
}
#searchSection #searchForm {
  width: 70vw;
  max-width: 900px;
}
#searchSection .bottomImage {
  height: 400px;
  width: 100vw;
  object-fit: cover;
  object-position: bottom;
  position: absolute;
  bottom: 0%;
  pointer-events: none;
}
#searchSection input,
#searchSection button {
  width: 30vw;
  padding: 2vh 1vw;
  background-color: rgba(255, 255, 255, 0.082);
  outline: none !important;
  box-shadow: none !important;
  caret-color: white;
  border: 1px solid #ffffff96;
  border-right: none;
  z-index: 99;
  backdrop-filter: blur(3px);
  color: rgba(255, 255, 255, 0.822);
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}
#searchSection button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  border: 1px solid #ffffff96;
  width: 10vw !important;
}
#searchSection img {
  z-index: 0;
  pointer-events: none;
  user-select: none;
  position: fixed;
  height: 40vh;
  width: 15vw;
  min-width: 200px;
  transition: all linear 0.5s;
}
#cursor {
  height: 10vh;
  width: 10vh;
  background-color: red;
  position: fixed;
}
@media only screen and (max-width: 600px) {
  #searchSection .text {
    width: 90vw;
    padding: 0 10vw;
  }
  #searchSection .text h1 {
    line-height: 2.5rem;
    font-size: 2.5rem;
    height: 2.5rem;
  }
  #searchSection input,
  #searchSection button {
    width: 60vw;
    padding: 1.5vh 10px;
  }
}
#searchSection button {
  width: 30vw;
}
