@font-face {
  font-family: font1;
  src: url("../fonts/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.ttf");
}
@font-face {
  font-family: font2;
  src: url("../fonts/Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.ttf");
}
@font-face {
  font-family: font3;
  src: url("../fonts/Airbnb_Cereal-Medium-50fc004b3082375f12ff0cfb67bf8e56.ttf");
}
:root {
  /* Theme colors */
  --primary: #000000;
  --primaryHover: #2f2f2f;
  --secondary: #8d99ae;
  --fontColor: #d4d4d4;
  --backGroundColor: #ffffff;
  --textColor: #e3e3e3;
  /* Theme colors */
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  display: none;
}
::selection {
  background-color: var(--primary);
  color: var(--textColor);
}
html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  background-color: var(--backGroundColor);
}
canvas {
  position: sticky;
  top: 40%;
}
.navbar {
  position: fixed;
  top: 0%;
  z-index: 999999999999;
}
#main {
  width: 100%;
  overflow: hidden;
  position: relative;
}
#main section {
  margin: 5vh 0;
}
input {
  caret-color: var(--primary);
}
input:focus {
  box-shadow: 0 0 2px 4px rgba(255, 0, 0, 0.356) !important;
}
input[type="range"]:focus {
  box-shadow: none !important;
}
.btn-primary {
  background-color: var(--primary);
  border: var(--primary);
  box-shadow: none !important;
  color: var(--textColor) !important;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: var(--primaryHover) !important;
}

.videoCover {
  width: 100vw;
  height: 0vh;
  overflow: hidden;
  position: sticky;
  top: 0%;
  z-index: 9999999999;
  transform-origin: bottom;
}
.realVideo {
  /* position: absolute; */
  z-index: 99999;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  object-position: center;
}
.heroSectionText {
  padding-top: 20vh;
  height: 100vh;
  width: 100vw;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 9999999;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  /* background-color: rgba(255, 0, 0, 0.342); */
}
.heroSectionText h1 {
  color: rgb(68, 70, 69);
  display: none;
  justify-content: space-between;
  width: 36rem;
  height: fit-content;
  overflow: hidden;
  text-align: end;
}
.heroSectionText h1 span {
  display: inline-block;
}
.heroSectionText h1 > span {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.heroSectionText h1.bigChar {
  font-size: 10rem;
}
.bigChar > span > span {
  width: 100%;
  display: flex !important;
  justify-content: space-between;
}
.bigChar span {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 600px) {
  .heroSectionText h1 {
    width: 90vw;
  }
  .heroSectionText h1:not(.bigChar) span span span {
    width: 1.5rem;
  }
  .heroSectionText h1 .word2 span {
    width: 1.5rem;
  }
  .heroSectionText h1 {
    font-size: 1rem;
  }
  .heroSectionText h1.bigChar {
    font-size: 3rem !important;
  }
}
