@font-face {
  font-family: font1;
  src: url("../fonts/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.ttf");
}
@font-face {
  font-family: font2;
  src: url("../fonts/Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.ttf");
}
@font-face {
  font-family: font3;
  src: url("../fonts/Airbnb_Cereal-Medium-50fc004b3082375f12ff0cfb67bf8e56.ttf");
}
:root {
  /* Theme colors */
  --primary: #ef233c;
  --primaryHover: #cf011a;
  --secondary: #8d99ae;
  --fontColor: #2b2d42;
  --backGroundColor: #edf2f4;
  --textColor: #f4f4f4;
  /* Theme colors */
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  /* display: none; */
}
::selection {
  background-color: var(--primary);
  color: var(--textColor);
}
html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  background-color: var(--backGroundColor);
}
canvas {
  background-color: red;
}
#main {
  position: relative;
  overflow: hidden;
}
input {
  caret-color: var(--primary);
}
input:focus {
  box-shadow: 0 0 2px 4px rgba(255, 0, 0, 0.356) !important;
}
input[type="range"]:focus {
  box-shadow: none !important;
}
.btn-primary {
  background-color: var(--primary);
  border: var(--primary);
  box-shadow: none !important;
  color: var(--textColor) !important;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: var(--primaryHover) !important;
}
