.textSection {
  padding: 10rem;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textSection .text {
  width: 100%;
}
.textSection h1 {
  font-family: "Saol Display Regular";
  font-size: 7rem;
  opacity: 0;
  height: fit-content;
  overflow: hidden;
}
@media only screen and (max-width: 600px) {
  .textSection {
    padding: 1rem;
  }
  .textSection h1 {
    font-size: 3rem;
  }
}
