@font-face {
  font-family: voyage;
  src: url("../fonts/voayage.otf");
}
.textSection {
  padding: 17vw;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

}
.textSection .text {
  width: 100%;
}
.textSection h1 {
  font-family: voyage;
  font-size: 8rem;
  opacity: 0;
  height: fit-content;
  overflow: hidden;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .textSection {
    padding: 1rem;
  }
  .textSection h1 {
    font-size: 3rem;
  }
}
