<section id="categorySection">
  <div>
    <img
      data-scroll
      data-scroll-speed="-1.5"
      src="../images/E2_Ivanhoe_16_6c0c164bd2b597ee32b68b8b5755bd2e.webp"
      alt=""
      srcset=""
    />
  </div>
  <div>
    <img
      data-scroll
      data-scroll-speed="-1.5"
      src="../images/LakeKnowles_8_6c0c164bd2b597ee32b68b8b5755bd2e.webp"
      alt=""
      srcset=""
    />
  </div>
  <div>
    <img
      data-scroll
      data-scroll-speed="-1.5"
      src="../images/RA-3260-Lake-Shore-Dr-twilight-1-1_6c0c164bd2b597ee32b68b8b5755bd2e.webp"
      alt=""
      srcset=""
    />
  </div>
</section>
