<section class="Fullpage">
  <div class="container1">
    <div class="fullcard"> 
        <!-- inside this imagecard and content is define -->
      <div class="imagecard">

        <!-- Swiper -->
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="../images/1.webp" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="../images/5.webp" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="../images/3.webp" alt="" />
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
      <!-- content of card -->
      <div id="content">
        <!-- left content -->
        <div class="left">
          <h5>Jibhi, India</h5>
          <h6>925 kilometers</h6>
          <h6>26 Feb - 3Mar</h6>
          <h5>$78 <span>night</span></h5>
        </div>
        <!-- right content -->
        <div class="right">
          <i class="ri-star-fill"></i>
          <h6><span>4.9</span></h6>
        </div>
      </div>
    </div>

    <div class="fullcard">
      <div class="imagecard">
        <!-- <img src="../images/8.webp" alt=""> -->
        <!-- Swiper -->
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="../images/1.webp" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="../images/3.webp" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="../images/4.webp" alt="" />
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
      <!-- content of card -->
      <div id="content">
        <!-- left content -->
        <div class="left">
          <h5>Pharog, India</h5>
          <h6>884 kilometers away</h6>
          <h6>8-14feb</h6>
          <h5>$23 <span>night</span></h5>
        </div>
        <!-- right content -->
        <div class="right">
          <i class="ri-star-fill"></i>
          <h6><span>4.1</span></h6>
        </div>
      </div>
    </div>

    <div class="fullcard">
      <div class="imagecard">
        <!-- <img src="../images/1.webp" alt=""> -->
        <!-- Swiper -->
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="../images/3.webp" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="../images/4.webp" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="../images/5.webp" alt="" />
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
      <!-- content of card -->
      <div id="content">
        <!-- left content -->
        <div class="left">
          <h5>Pune, India</h5>
          <h6>230 kilometers away</h6>
          <h6>2-16 Sept</h6>
          <h5>$23 <span>night</span></h5>
        </div>
        <!-- right content -->
        <div class="right">
          <i class="ri-star-fill"></i>
          <h6><span>4.7</span></h6>
        </div>
      </div>
    </div>

    <div class="fullcard">
      <div class="imagecard">
        <!-- <img src="../images/3.webp" alt=""> -->
        <!-- Swiper -->
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="../images/4.webp" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="../images/5.webp" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="../images/6.webp" alt="" />
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
      <!-- content of card -->
      <div id="content">
        <!-- left content -->
        <div class="left">
          <h5>Gunawata, India</h5>
          <h6>521 kilometers away</h6>
          <h6>26 may - 3 June</h6>
          <h5>$66 <span>night</span></h5>
        </div>
        <!-- right content -->
        <div class="right">
          <i class="ri-star-fill"></i>
          <h6><span>4.5</span></h6>
        </div>
      </div>
    </div>
    <div class="fullcard">
      <div class="imagecard">
        <!-- <img src="../images/4.webp" alt=""> -->
        <!-- Swiper -->
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="../images/5.webp" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="../images/6.webp" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="../images/7.webp" alt="" />
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
      <!-- content of card -->
      <div id="content">
        <!-- left content -->
        <div class="left">
          <h5>Maheshwar, India</h5>
          <h6>532 kilometers away</h6>
          <h6>6-24 May</h6>
          <h5>$81 <span>night</span></h5>
        </div>
        <!-- right content -->
        <div class="right">
          <i class="ri-star-fill"></i>
          <h6><span>4.1</span></h6>
        </div>
      </div>
    </div>

    <div class="fullcard">
      <div class="imagecard">
        <!-- <img src="../images/5.webp" alt=""> -->
        <!-- Swiper -->
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="../images/6.webp" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="../images/7.webp" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="../images/8.webp" alt="" />
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
      <!-- content of card -->
      <div id="content">
        <!-- left content -->
        <div class="left">
          <h5>Pushkar, India</h5>
          <h6>650 kilometers away</h6>
          <h6>7-17feb</h6>
          <h5>$80 <span>night</span></h5>
        </div>
        <!-- right content -->
        <div class="right">
          <i class="ri-star-fill"></i>
          <h6><span>4.44</span></h6>
        </div>
      </div>
    </div>

    <div class="fullcard">
      <div class="imagecard">
        <!-- <img src="../images/6.webp" alt=""> -->
        <!-- Swiper -->
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="../images/8.webp" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="../images/1.webp" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="../images/4.webp" alt="" />
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
      <!-- content of card -->
      <div id="content">
        <!-- left content -->
        <div class="left">
          <h5>Bodowala, India</h5>
          <h6>440 kilometers away</h6>
          <h6>5-19 March</h6>
          <h5>$40 <span>night</span></h5>
        </div>
        <!-- right content -->
        <div class="right">
          <i class="ri-star-fill"></i>
          <h6><span>4.62</span></h6>
        </div>
      </div>
    </div>

    <div class="fullcard">
      <div class="imagecard">
        <!-- <img src="../images/7.webp" alt=""> -->
        <!-- Swiper -->
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="../images/3.webp" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="../images/5.webp" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="../images/7.webp" alt="" />
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
      <!-- content of card -->
      <div id="content">
        <!-- left content -->
        <div class="left">
          <h5>Nasik, India</h5>
          <h6>625 kilometers away</h6>
          <h6>21 Feb - 23Mar</h6>
          <h5>$58 <span>night</span></h5>
        </div>
        <!-- right content -->
        <div class="right">
          <i class="ri-star-fill"></i>
          <h6><span>4.2</span></h6>
        </div>
      </div>
    </div>
  </div>
</section>
