<section id="menu">
  <ul>
    <li>
      <a href="/#dummyCover2">
        <h1>HOME</h1>
      </a>
    </li>
    <li>
      <h1 style="cursor: pointer" onclick="showSearch()">SEARCH</h1>
    </li>
    <li>
      <a href="#footer">
        <h1>CONTACT</h1>
      </a>
    </li>
    <li>
      <a href="/about">
        <h1>ABOUT US</h1>
      </a>
    </li>
  </ul>
</section>
<div class="menuButtons d-flex gap-3 justify-content-center align-items-center">
  <i id="menuToggle" class="ri-menu-line fs-2"> </i>
  <div class="user">
    <% if(username==''){ %>
    <a href="/login" class="btn btn-outline-dark"> LOGIN </a>
    <% }else{ %>
    <a
      href="/profile"
      class="btn btn-outline-dark d-flex gap-2 justify-content-center align-items-center"
    >
      <span> <%= username %> </span>
      <% if(profilepic==''){ %>
      <i class="ri-user-line fs-3"></i>
      <% }else{ %>
      <img
        height="25"
        width="25"
        style="object-fit: cover; border-radius: 50%"
        src="../images/uploads/userImages/5bbaf54d536e47f81ddb6933a6b2.png"
        alt=""
      />
      <% } %>
    </a>
    <% } %>
  </div>
</div>
