<section id="menu">
  <div class="user">
    <% if(username==''){ %>
    <a href="/login" class="btn btn-outline-light" style="border: none">
      LOGIN
    </a>

    <% }else{ %>
    <a href="/profile" class="btn btn-outline-light" style="border: none">
      <span> <%= username %> </span>
    </a>
    <% } %>
  </div>
  <ul>
    <li>
      <a href="/#dummyCover2">
        <h1>HOME</h1>
      </a>
    </li>
    <li>
      <h1 style="cursor: pointer" onclick="showSearch()">SEARCH</h1>
    </li>
    <li>
      <a href="#footer">
        <h1>CONTACT</h1>
      </a>
    </li>
    <li>
      <a href="/about">
        <h1>ABOUT US</h1>
      </a>
    </li>
  </ul>
</section>
<i id="menuToggle" class="ri-menu-line fs-2"> </i>
