<link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />

<div class="main">
  <div class="header_section">
    <h1>Jannat 100% PetFriendly Pool villa with LakeView</h1>
    <div class="sub_header_section">
      <div class="part1">
        <h3><i class="ri-star-fill"></i> 5.0</h3>
        <!-- <h3><a href="#">3 review</a></h3> -->
        <!-- <h3>Superhost</h3> -->
        <h3>Pimplad Nasik, Maharashtra, India</h3>
      </div>
      <div class="part2">
        <!-- <h3><i class="ri-share-fill"></i> Share</h3> -->
        <h3><i class="ri-heart-fill"></i> Save</h3>
      </div>
    </div>
  </div>
  <div class="mid_img_section"></div>
  <div class="content">
    <div class="left_section">
      <div class="metaRent">
        <h1>The Selby</h1>
        <h3>695 Merrick Ave, Westbury, NY 11590</h3>
        <h4><a href="#">www.renters.com</a></h4>
        <div class="left_sub_content">
          <div class="rent">
            <h1>$4,450 - $8,900</h1>
            <h4>Monthly Rent</h4>
          </div>
          <div class="bed">
            <h1>1-3</h1>
            <h4>Bedrooms</h4>
          </div>
          <div class="baths">
            <h1>1-3</h1>
            <h4>Floor</h4>
          </div>
        </div>
      </div>

      <!-- <div class="btnns"> -->
      <div class="btnn" id="btnn1">
        <i class="ri-mail-fill"></i>
        <h3>Be the first to contact</h3>
      </div>
      <div class="btnn" id="btnn2">
        <h3><i class="ri-file-text-fill"></i> Request to apply</h3>
      </div>
      <!-- </div> -->

      <div class="line"></div>

      <div class="content_part2">
        <div class="content_part2_1">
          <div class="icons">
            <h3><img src="/images/ammeneties/workspace.png" alt="" /></h3>
          </div>
          <div class="content_part2_12">
            <h2>Dedicated workspace</h2>
            <h3>A common area with wifi that's well suited for working</h3>
          </div>
        </div>
        <div class="content_part2_1">
          <div class="icons">
            <h3><img src="/public/images/ammeneties/slef.png" alt="" /></h3>
          </div>
          <div class="content_part2_12">
            <h2>Self Check-in</h2>
            <h3>You can check in with the dooorperson</h3>
          </div>
        </div>
        <div class="content_part2_1">
          <div class="icons">
            <h3><img src="/images/ammeneties/hosts.png" alt="" /></h3>
          </div>
          <div class="content_part2_12">
            <h2>Shreya is a SuperHost</h2>
            <h3>
              Superhost are experienced,highly rated hosts who are committed
              to providing great stays for their guests.
            </h3>
          </div>
        </div>
      </div>

      <div class="line"></div>

      <!-- ......................................... -->

      <div class="content_part3">
        <div class="heading1">
          <div class="heading_left">
            <h2>Where you'll sleep</h2>
          </div>
          <div class="heading_right">
            <h3>1/2</h3>
            <h3><i class="ri-arrow-left-s-line"></i></h3>
            <h3><i class="ri-arrow-right-s-line"></i></h3>
          </div>
        </div>

        <div class="image_slider">
          <!-- Swiper -->
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img
                  src="https://i.pinimg.com/564x/c2/8f/a9/c28fa9bccbbeb2d88a545b660b41a2f8.jpg"
                  alt=""
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="https://i.pinimg.com/564x/26/2e/d9/262ed9482ec136316f01260c5064b748.jpg"
                  alt=""
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="https://i.pinimg.com/564x/ec/b5/40/ecb5404fa22d1513ac0b38a86fe26125.jpg"
                  alt=""
                />
              </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <h4>Bedroom</h4>
        <h5>1 bunk Bed</h5>
      </div>

      <div class="line"></div>

      <div class="content_part4">
        <h2>What this place offers</h2>
        <div class="subcontent4">
          <div class="content_part41">
            <div class="offered_place">
              <img src="/images/ammeneties/wifi.png" alt="" />
              <h3>WiFi</h3>
            </div>
            <div class="offered_place">
              <img src="/images/ammeneties/school.png" alt="" />
              <h3>Private School</h3>
            </div>
            <div class="offered_place">
              <img src="/images/ammeneties/washing.png" alt="" />
              <h3>Washing Machine</h3>
            </div>
            <div class="offered_place">
              <img src="/images/ammeneties/kitchen.png" alt="" />
              <h3>Kitchen</h3>
            </div>
          </div>
          <div class="content_part41">
            <div class="offered_place">
              <img src="/images/ammeneties/car.png" alt="" />
              <h3>Free parking on premises</h3>
            </div>
            <div class="offered_place">
              <img src="/images/ammeneties/tv.png" alt="" />
              <h3>TV</h3>
            </div>
            <div class="offered_place">
              <img src="/public/images/aircond.png" alt="" />
              <h3>Air conditioning</h3>
            </div>
            <div class="offered_place">
              <img src="/public/images/ammeneties/camera.png" alt="" />
              <h3>Security Cameras on property</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="line"></div>
    </div>

    <div class="right_section"></div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 1,
    spaceBetween: 30,
    loop: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>