<section
  id="searchSection"
  class="d-flex flex-column justify-content-center align-items-center gap-5"
>
  <i
    id="searchShowButton"
    class="ri-search-line text-light"
    style="
      position: absolute;
      top: 10vh;
      left: 93vw;
      transform: translate(-50%, -50%);
      cursor: pointer;
    "
  ></i>
  <div class="text d-flex flex-column justify-content-center">
    <h1>SEARCH</h1>
    <h1 style="text-align: right">FOR</h1>
    <h1 class="text-center">RENTALS</h1>
  </div>
  <form action="/properties" method="post">
    <div class="d-flex justify-content-center align-items-center">
      <input
        type="text"
        name="address"
        placeholder="Search for City, Neighborhood, Zip, County, School"
      />
      <button
        type="submit"
        class="d-flex justify-content-center align-items-center gap-1"
        >Search <i class="ri-search-line"></i>
      </button>
    </div>
  </form>
</section>
