<Section
  id="searchSection"
  class="d-flex justify-content-center align-items-center"
>
  <form id="searchForm" action="/search" method="post" class="d-flex gap-2">
    <input
      name="location"
      class="form-control"
      placeholder="Search for City, Neighborhood, Zip, County, School"
      type="text"
    />
    <input
      name="location"
      class="form-range"
      placeholder="Search for City, Neighborhood, Zip, County, School"
      type="range"
    />
    <input type="submit" class="form-control btn btn-primary" />
  </form>
  <img class="bottomImage" src="../images/searchBottom.svg" alt="" />
</Section>
